.colorsChanged .sau-table {
    --sau-color-primary: rgb(255, 133, 133) !important;
    --sau-color-background: rgb(255, 222, 180);
    --sau-color-edit: rgb(195, 105, 236);
    --sau-color-delete: rgb(235, 87, 87);
    --sau-color-text: rgb(82, 46, 0);
}